.background {
  background: rgb();
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(150, 0, 0);
}

.wall {
  background: black;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(255, 220, 0);
}

.player {
  background: rgb(100, 100, 100);
}

.lost .player {
  background: rgb(130, 30, 30);
}

.won .player {
  box-shadow: -4px -7px 8px rgb(255, 220, 0), 4px -7px 8px rgb(255, 220, 0);
}

.game {
  overflow: hidden;
  max-width: 1920px;
  max-height: 820px;
  position: absolute;
  top: 0;
}
